In [26]:
import pandas as pd

import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt

# Alucar - Analisando as vendas

In [5]:
alucar=pd.read_csv('dados/alucar.csv') 
alucar.head()

          mes  vendas
0  2017-01-31      10
1  2017-02-28      20
2  2017-03-31      33
3  2017-04-30      47
4  2017-05-31      63

In [18]:
print('Quantidade de linhas e colunas:', alucar.shape)
print('Quantidade de dados nulos:', alucar.isna().sum().sum())
print('Tipos de Dados:\n', alucar.dtypes)

Quantidade de linhas e colunas: (24, 2)
Quantidade de dados nulos: 0
Tipos de Dados:
 mes       object
vendas     int64
dtype: object

In [21]:
# Modificar mes para datetime
alucar['mes']= pd.to_datetime(alucar['mes'])
alucar.dtypes

mes       datetime64[ns]
vendas             int64
dtype: object

In [27]:
print(sns.__version__)

0.9.0